@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap");

.os-theme-mode {
	@media (prefers-color-scheme: light) {
		@include lightmode;
	}
	@media (prefers-color-scheme: dark) {
		@include darkmode;
	}
}

.light-mode {
	@include lightmode;
}

.dark-mode {
	@include darkmode;
}

* {
	font-family: "Noto Sans KR", "Nanum Gothic", "sans-serif";
	font-display: swap;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
}

body {
	margin: 0;
}

#app {
	transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s;
}

p {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
