@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap");

@import "./keyframes.scss";

.os-theme-mode {
	@include common;
	@media (prefers-color-scheme: light) {
		@include lightmode;
	}
	@media (prefers-color-scheme: dark) {
		@include darkmode;
	}
}

.light-mode {
	@include common;
	@include lightmode;
}

.dark-mode {
	@include common;
	@include darkmode;
}

* {
	font-family: "Noto Sans KR", "Nanum Gothic", "sans-serif";
	font-display: swap;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
	// transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s;
	// transition: background-color 300ms ease-in-out 0s;
	// transition: background-color 300ms ease-in-out 0s, color 300ms ease-in-out 0s;
	transition-property: background-color;
	transition-timing-function: ease-in-out;
	transition-duration: 300ms;
	transition-delay: 0s;
}

body {
	margin: 0;
}

p {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}

button {
	background-color: transparent;
	outline: none;
	box-shadow: unset;
	border: unset;
	cursor: pointer;
}