@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR:100,300,400,500,700,900&display=swap");

:root {
	--header-background-color: rgba(255, 255, 255, 0.5);

	--color-background: #ffffff;

	--color-primary: #409eff;
	--color-success: #67c23a;
	--color-warning: #e6a23c;
	--color-danger: #f56c6c;
	--color-info: #909399;

	--color-primary-text: #000000;
	--color-main-text: #303133;
	--color-regular-text: #606266;
	--color-secondary-text: #909399;
	--color-placeholder-text: #c0c4cc;
}

.dark-mode {
	--header-background-color: rgba(0, 0, 0, 0.5);

	--color-background: #242424;

	--color-primary-text: #ffffff;
	// --color-main-text: #303133;
	// --color-regular-text: #606266;
	// --color-secondary-text: #909399;
	// --color-placeholder-text: #c0c4cc;
}

* {
	font-family: "Noto Sans KR", "Nanum Gothic", "sans-serif";
	font-display: swap;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	scroll-behavior: smooth;
}

body {
	margin: 0;
}

#app {
	transition: color 300ms ease-in-out 0s, background-color 300ms ease-in-out 0s;
}

p {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
}
