@import "./variables";

@mixin mobile {
	@media (min-width: #{$breakpoint-mobile}) and (max-width: #{$breakpoint-tablet - 1px}) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: #{$breakpoint-tablet}) and (max-width: #{$breakpoint-desktop - 1px}) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{$breakpoint-desktop}) {
		@content;
	}
}

@mixin common {
	--color-black: #000000;
	--color-grey: #303133;
	--color-lightgrey: #eeeeee;
	--color-white: #ffffff;

	--color-shadow: rgba(0, 0, 0, 0.1);
}

@mixin lightmode {
	--header-background-color: rgba(255, 255, 255, 0.5);

	--modal-background-color: #ffffff;
	--modal-backdrop-color: rgba(0, 0, 0, 0.7);

	--background-color: #ffffff;
	--background-secondary-color: #444444;

	--color-primary: #409eff;
	--color-success: #67c23a;
	--color-warning: #e6a23c;
	--color-danger: #f56c6c;
	--color-info: #909399;

	--color-primary-text: #222222;
	--color-main-text: #303133;
	--color-regular-text: #606266;
	--color-secondary-text: #909399;
	--color-placeholder-text: #c0c4cc;
}

@mixin darkmode {
	--header-background-color: rgba(34, 34, 34, 0.5);

	--modal-background-color: #222222;
	--modal-backdrop-color: rgba(0, 0, 0, 0.7);

	--background-color: #222222;
	--background-secondary-color: #444444;

	--color-primary: #409eff;
	--color-success: #67c23a;
	--color-warning: #e6a23c;
	--color-danger: #f56c6c;
	--color-info: #909399;

	--color-primary-text: #ffffff;
	--color-main-text: #303133;
	--color-regular-text: #606266;
	--color-secondary-text: #909399;
	--color-placeholder-text: #c0c4cc;
}
