$breakpoint-mobile: 320px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;

$header-height: 80px;
$full-height: calc(var(--vh, 1vh) * 100);
$contents-height: calc($full-height - $header-height);

$max-width: 1200px;